*
!/api
!/api/*
!/api/**/
!/api/**/*
!/sdk/
!/sdk/*
!/sdk/**/
!/sdk/**/*
!/msg/
!/msg/*
!/msg/**/
!/msg/**/*
!/client/
!/client/*
!/client/**/
!/client/**/*
!/server/
!/server/*
!/server/**/
!/server/**/*
!.gitignore
!cmd.sh
!probe.sh
!deployment.yaml
!Dockerfile
!go.mod
!main.go
!README.md
